* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN LAYOUT */
#root {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px 0px;
}

.hidden {
  display: none !important;
}

.message {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-top: 24px;
}

.disputed {
  color: #ef4444;
  font-weight: 600;
  margin-right: 10px;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
  height: calc(100vh - 48px - 68px - 40px);
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    height: auto;
  }
}

section {
  overflow: scroll;
  padding-bottom: 40px;
}

/* ELEMENTS */
.logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo img {
  width: 128px;
  height: 128px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.category {
  margin-bottom: 16px;
}

.food {
  font-size: 20px;
  line-height: 1.4;
  /* background-color: #44403c; */
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  /* gap: 24px; */
  border-radius: 16px;
}

.food-list-header {
  margin-bottom: 5px;
  padding-bottom: 0px;
  justify-content: center;
}

.food-reg {
  background-color: #44403c;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 18px;
  font-family: inherit;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3.s;
  -webkit-transition: 0.3.s;
  -moz-transition: 0.3.s;
  -ms-transition: 0.3.s;
  -o-transition: 0.3.s;
}
.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg,  #dd0e0e, #ea9008, #16a34a ,#3b82f6);
  color: inherit;
  border-radius: 100px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
  -webkit-transform: scale(110%) rotate(-2deg);
  -moz-transform: scale(110%) rotate(-2deg);
  -ms-transform: scale(110%) rotate(-2deg);
  -o-transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 25px;
  padding: 10px 20px 10px;
  margin-bottom: 20px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

.btn-delete {
  font-size: 12px;
  padding: 8px 10px 8px;
  margin-bottom: 3px;
  background-image: #ef4444;
}

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}

.vote-buttons button {
  border: none;
  background-color: #78716c;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.vote-buttons button:hover {
  background-color: #292524;
}

.vote-buttons button:disabled {
  background-color: #292524;
}

.food-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
  /* display: flex; */
  align-items: center;
  /* gap: 16px; */
  border-radius: 16px;
  font-size: 20px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.day-selection 
{
  display: flex;
  gap: 10px
}

.food-form-input {
  display: flex;
  gap: 16px;
}

.food-form-photo{
  display: flex;
  gap: 16px;
  width: 50%;
}

.food-form input,
.food-form select {
  width: 220px;
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.day-selection input {
  width: 80px;
  height: 30px;
  padding: 10px;
}

.food-form input::placeholder {
  color: #a8a29e;
}

.food-form input:first-child {
  flex-grow: 1;
}

.food-form span {
  font-weight: 600;
  font-size: 18px;
}

.food-instruction {
  font-size: 23px;
  margin:10px;
  font-weight: bold;
}

@media (max-width: 1000px) {
  body {
    /*padding: 32px 48px;*/
  }
  .food-form {
    flex-direction: column;
    align-items: stretch;
  }
  .food-form input,
  .food-form select {
    width: auto;
  }
}

input[type="file"]{
  align-content: center;
}

.food-description{
  display: flex;
  gap: 24px
}

.change-buttons {
  border: none;
  background-color: #78716c;
  font-size: 20px;
  padding: 4px 6px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.preference-form{
  display: flex;
  gap: 16px;
  /* margin: 10px; */
  margin-bottom: 15px;
}

.diet {
  margin:10px;
  font-size: 20px;

}

.checkbox-custom {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  display: block; /* Change to block to make sure label takes a full line */
  color: #ffffff; /* Adjust if needed */
  margin: 10px; /* Spacing between each checkbox item */
  margin-left: 15px;
}

.checkbox-custom input[type="checkbox"] {
  opacity: 0; /* Hide the default checkbox */
  position: absolute;
  cursor: pointer;
}

.checkbox-custom .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #78716c; /* Background of the custom checkbox */
  border-radius: 4px; /* Rounded corners */
  margin-right: 20px;
}

.checkbox-custom:hover input ~ .checkmark {
  background-color: #555; /* Darker when hovered */
}

.checkbox-custom input:checked ~ .checkmark {
  background-color: #4CAF50; /* Color when checked */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-custom .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-custom input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-custom .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.header-buttons {
  display: flex;
  justify-content: space-between;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: #8f8989; /* Change color as needed */
  margin: 20px 0; /* Adjust margin as needed */
  margin-top: 2px;
}

.divider-name {
  width: 100%;
  height: 5px;
  background-color: #8f8989; /* Change color as needed */
  margin: 0px 0; /* Adjust margin as needed */
}

.recipe-header{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.star-button {
  background: none;
  border: none;
  color: yellow;
  font-size: 24px; /* Make the star bigger */
  cursor: pointer;
  padding-bottom: 0px;
}

/* To remove default button styles on focus */
.star-button:focus {
  outline: none;
}
